{% extends 'base.html' %}

{% block content %}

<h1>Tugas 3 PBP/PBD</h1>

<h3>Name: {{nama}} </h3>

<h3>Student ID: {{npm}} </h3>
<style>
table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<table>
  <tr>
  <th>Title</th>
  <th>Watched</th>
  <th>Rating</th>
  <th>Release Date</th>
  <th>Review</th>
  </tr>
  {% comment %} Add the data below this line {% endcomment %}
  {% for watchlist in list_watchlist %}
  <tr>
    <th>{{watchlist.title}}</th>
    <th>{{watchlist.watched}}</th>
    <th>{{watchlist.rating}}</th>
    <th>{{watchlist.release_date}}</th>
    <th>{{watchlist.review}}</th>
  </tr>
  {% endfor %}
</table>
<b>{{message}}</b>
{% endblock content %}
